<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="footer-heading mb-4">Về Công Ty</h2>
                        <p>Là công ty hàng đầu trong lĩnh vực vận tải và kho bãi. Chúng tôi đang phát triển ngày một bền vững </p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <h2 class="footer-heading mb-4">Tính Năng</h2>
                        <ul class="list-unstyled">
                            <li><a href="~/home/about">Giới Thiệu</a></li>
                            <li><a href="~/home/support">Hỗ Trợ</a></li>
                            <li><a href="~/services">Dịch Vụ</a></li>
                            <li><a href="~/threading">Tin Tức</a></li>
                            <li><a href="~/customers/eport">Khách Hàng</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4 ml-auto">

                <div class="mb-5">
                    <h2 class="footer-heading mb-4">Đăng Ký nhận tin</h2>
                    <form action="#" method="post" class="footer-suscribe-form">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent" id="txtRegisterEmail" placeholder="Nhập thư điện tử" aria-label="Nhập Email" aria-describedby="btnRegisterEmail">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="btnRegisterEmail">Đăng Ký</button>
                            </div>
                        </div>
                    </form>
                </div>


                <h2 class="footer-heading mb-4">Theo Dõi</h2>
                <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>

            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p class="copyright">
                        <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> <strong>TRAM ANH LOGISTICS</strong>. All Rights Reserved. Design by <a href="https://nonebase.com/" target="_blank">nonebaseX</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
