<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>


<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">info@tramanhlog.com</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">+84 (0274) 39 79 79</span></a>


                <div class="float-right">

                    <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                    <span class="mx-md-2 d-inline-block"></span>
                    <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

                </div>

            </div>

        </div>

    </div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a href="/" class="text-black"><span class="text-primary" style="font-family:'Oswald'; padding-left:15px;">TRAMANH</span></a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">

                        <li><a href="~/customers/eport" class="nav-link">EPORT</a></li>

                        <li><a href="~/services" class="nav-link">Dịch Vụ</a></li>

                        <li class="has-children">
                            <a href="~/threading" class="nav-link">Tin Tức</a>
                            <ul class="dropdown">
                                <li><a href="~/threading/local">Tin nội bộ</a></li>
                                <li><a href="~/threading/global">Tin trong ngành</a></li>
                            </ul>
                        </li>


                        <li><a href="~/home/contact" class="nav-link">Liên hệ</a></li>

                        @*<li><a href="#contact-section" class="nav-link">Thư viện</a></li>*@

                        <li><a href="~/home/about" class="nav-link">Giới Thiệu</a></li>
                    </ul>
                </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>