<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5" data-aos="fade-up" data-aos-delay="">
                <div class="block-heading-1">
                    @*<span>Get In Touch</span>*@
                    <h2>Liên Hệ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                <form action="#" method="post">
                    <div class="form-group row">
                        <div class="col-md-6 mb-4 mb-lg-0">
                            <input type="text" class="form-control" placeholder="Tên" id="txtLastName">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Họ" id="txtFirstName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Thư điện tử" id="txtEmailGuest">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea name="" id="txtContentGuest" class="form-control" placeholder="Nội dung" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 mr-auto">
                            <input type="button" class="btn btn-block btn-primary text-white py-3 px-5" id="btnSendMessage" value="Gởi Tin Nhắn">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="bg-white p-3 p-md-5">
                    <h3 class="text-black mb-4">Thông tin liên hệ</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block mb-3">
                            <span class="d-block text-black">Địa chỉ:</span>
                            <span>34 Street Name, City Name Here, United States</span>
                        </li>
                        <li class="d-block mb-3"><span class="d-block text-black">Điện thoại:</span><span>+1 242 4942 290</span></li>
                        <li class="d-block mb-3"><span class="d-block text-black">Di động:</span><span>+1 242 4942 290</span></li>
                        <li class="d-block mb-3"><span class="d-block text-black">Thư điện tử:</span><span>info@yourdomain.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
