
<div class="site-section bg-light" id="services-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <div class="block-heading-1">
                    <h2>Dịch vụ của chúng tôi</h2>
                    <p>Về dịch vụ, chúng tôi cam kết dịch vụ luôn đứng đầu cả về chất lượng và giá thành. Mang đến sự yên tâm cho quý khách hàng đã tin dùng dịch vụ của chúng tôi.</p>
                </div>
            </div>
        </div>


        <div class="owl-carousel owl-all">
            <div class="block__35630">
                <div class="icon mb-0">
                    <span class="flaticon-ferry"></span>
                </div>
                <h3 class="mb-3">Vận tải đường biển</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
            </div>

            <div class="block__35630">
                <div class="icon mb-0">
                    <span class="flaticon-airplane"></span>
                </div>
                <h3 class="mb-3">vận tải hàng không</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
            </div>

            <div class="block__35630">
                <div class="icon mb-0">
                    <span class="flaticon-box"></span>
                </div>
                <h3 class="mb-3">quy trình vận tải</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
            </div>

            <div class="block__35630">
                <div class="icon mb-0">
                    <span class="flaticon-lorry"></span>
                </div>
                <h3 class="mb-3">phương tiện vận tải</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
            </div>

            <div class="block__35630">
                <div class="icon mb-0">
                    <span class="flaticon-warehouse"></span>
                </div>
                <h3 class="mb-3">kho bãi</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
            </div>

            <div class="block__35630">
                <div class="icon mb-0">
                    <span class="flaticon-add"></span>
                </div>
                <h3 class="mb-3">giá thành</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
            </div>

        </div>
    </div>
</div>
