
@{
    ViewBag.Title = "Tài liệu hướng dẫn";
    Layout = "~/Views/Shared/_layouteport.cshtml";
}

    <div class="card">
        <h5 class="card-header">
            Trang Chủ <i class="icon-long-arrow-right" aria-hidden="true"></i> Tài liệu hướng dẫn
        </h5>
        <div class="card-body">

        </div>
    </div>

