
@{
    ViewBag.Title = "EPort";
}

    <div class="body-content">
        <div class="row">
            <div class="col-md-3">

                @Html.Partial("_logindata")

            </div>
            <div class="col-md-9">
                <div class="card">
                    <h5 class="card-header">
                        Trang Chủ
                    </h5>
                    <div class="card-body">
                       @Html.Partial("_review")
                    </div>
                </div>
            </div>
        </div>
    </div>

