
@{
    ViewBag.Title = "Quên Mật khẩu";
    Layout = "~/Views/Shared/_layouteport.cshtml";
}

    <div class="card">
        <h5 class="card-header">
            Trang Chủ <i class="icon-long-arrow-right" aria-hidden="true"></i> Lấy lại mật khẩu
        </h5>
        <div class="card-body">
            <diiv class="alert-danger" role="alert">
                Vui lòng liên hệ quản trị viên để lấy lại mật khẩu nhanh nhất.
            </diiv>
        </div>
    </div>

