@{
    ViewBag.Title = "Home";
}

@Html.Partial("_slide")

    <div class="site-wrap" id="home-section">
        @Html.Partial("_services")

        @Html.Partial("_news")

        @Html.Partial("_contact")
    </div>