
@{
    ViewBag.Title = "EPort";
        Layout = "~/Views/Shared/_layouteport.cshtml";
}

    <div class="card">
        <h5 class="card-header">
            Trang Chủ
        </h5>
        <div class="card-body">
            @Html.Partial("_review")
        </div>
    </div>
