
@{
    ViewBag.Title = "Dịch Vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container body-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dịch Vụ</li>
            </ol>
        </nav>




        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <a href="#" class="unit-1 text-center">
                            <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                            <div class="unit-1-text">
                                <h3 class="unit-1-heading">Storage</h3>
                                <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4">
                        <a href="#" class="unit-1 text-center">
                            <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                            <div class="unit-1-text">
                                <h3 class="unit-1-heading">Air Transports</h3>
                                <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4">
                        <a href="#" class="unit-1 text-center">
                            <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                            <div class="unit-1-text">
                                <h3 class="unit-1-heading">Cargo Transports</h3>
                                <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4">
                        <a href="#" class="unit-1 text-center">
                            <img src="images/img_4.jpg" alt="Image" class="img-fluid">
                            <div class="unit-1-text">
                                <h3 class="unit-1-heading">Cargo Ship</h3>
                                <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4">
                        <a href="#" class="unit-1 text-center">
                            <img src="images/img_5.jpg" alt="Image" class="img-fluid">
                            <div class="unit-1-text">
                                <h3 class="unit-1-heading">Ware Housing</h3>
                                <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4">
                        <a href="#" class="unit-1 text-center">
                            <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                            <div class="unit-1-text">
                                <h3 class="unit-1-heading">Storage</h3>
                                <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>



    </div>


